body{
    background-image: url(../assets/no\ man\ sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img { 
    box-shadow: 0.6px 1px 1.2px rgba(0, 0, 0, 0.07),
            1.3px 2.2px 2.7px rgba(0, 0, 0, 0.055),
            2.2px 3.7px 4.6px rgba(0, 0, 0, 0.048),
            3.3px 5.6px 6.9px rgba(0, 0, 0, 0.043),
            4.8px 8.1px 10px rgba(0, 0, 0, 0.039),
            6.7px 11.5px 14.2px rgba(0, 0, 0, 0.035),
            9.6px 16.3px 20.1px rgba(0, 0, 0, 0.031),
            13.9px 23.7px 29.2px rgba(0, 0, 0, 0.027),
            21.4px 36.6px 45px rgba(0, 0, 0, 0.022),
            38px 65px 80px rgba(0, 0, 0, 0.015);
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.5);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}
@media (min-width: 600px) {
    .wide {
        grid-column: span 2;
    }
    .tall {
        grid-row: span 2;
    }
}